
.card-container {
  background-color: aqua;
  width: 400px;
  text-align: center;
  padding: 16px;
  margin-top: 16px; 
}

img {
  width: 80%;
  height: 300px;
  object-fit: contain;
}

.card-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 16px;
}


